<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/vecteurs-premium/auditorium-cinema-sieges-rouges_269504-19.jpg?w=1060);">
  <div class="container">
    <h1><strong>Save any kind of movies</strong></h1>
  </div>
</div>
