<%= render 'banner' %>
<div class="container mt-5">
  <div class="cards">
    <% @lists.each do |list| %>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1543536448-1e76fc2795bf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2278&q=80)">
          <%= link_to list.name, list_path(list), class: "card-text-spec" %>
        </div>
    <% end %>
</div>
